@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
li {
  list-style-type: none;
}
html {
  scroll-behavior: smooth;
  scroll-margin-top: 2rem;
}
h1 {
  font-size: 1.5em;
  text-decoration: none;
}
body {
  min-height: 100vh;
  font-size: 100%;
  background-color: #141414;
}

svg {
  width: 100%;
  display: block;
}
.header {
  width: 100%;
  background-color: #282828;
  padding: 0.3em;
  color: white;
  display: flex;
  max-width: 480px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  position: fixed;
  z-index: 100;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
.header.abajo {
  background-color: #141414;
}
[id] {
  scroll-margin-top: 4.3rem;
}
.header__h1 {
  margin-left: -36px;
}
.header__a {
  padding-left: 20px;
}
.header__a--span {
  color: #00d9f5;
  top: 0;
  left: 200px;
}
.header__a:hover {
  color: #00d9f5;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.header__button {
  display: none;
  cursor: pointer;
}

.header__svg {
  width: 2em;
  height: 2em;
  fill: white;
}

.header__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.header__li {
  margin: 0.2em;
}
.main__container {
  color: #fff;
  height: 540px;
  max-width: 480px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  padding-top: 1rem;
}
.main__title {
  font-size: 1.5rem;
  line-height: 2rem;
  width: 280px;
  padding-top: 7rem;
}
.main__nombre {
  color: #00d9f5;
  font-size: 1.5rem;
}
.main__subtitle {
  font-size: 1.4rem;
  color: gray;
  margin-bottom: 10px;
}
.main__picture__container {
  height: 540px;
  max-width: 480px;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  object-fit: cover;
}
.main__picture {
  max-width: 480px;
  width: 100%;
  height: auto;
  padding-right: 2rem;
  margin-left: -1rem;
  object-fit: cover;
  background-position: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.main__about {
  text-align: justify;
  max-width: 480px;
  width: 100%;
  height: 260px;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  scroll-margin-top: 10rem;
}
h3 {
  width: 260px;
  height: 60px;
  font-size: 1.9rem;
  padding-left: 50px;
}
.main__description {
  font-size: 0.8rem;
  line-height: 23px;
  max-width: 480px;
  transform: translate(0rem, -1rem);
}
.main__desarrollo {
  color: #00d9f5;
}
.main__button {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-size: 0.8rem;
  border: 1px solid;
  color: black;
  background-color: aqua;
  width: 114px;
  font-weight: bold;
  height: 40px;
  padding: 10px 20px 10px 20px;
}
.main__button:hover {
  background-color: #2fc6da;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.main__descarga {
  height: 0rem;
  transform: translate(3rem, -1.5rem);
  -webkit-transform: translate(3rem, -1.5rem);
  -moz-transform: translate(3rem, -1.5rem);
  -ms-transform: translate(3rem, -1.5rem);
  -o-transform: translate(3rem, -1.5rem);
}
.main__download {
  font-size: 1rem;
  transform: translate(7.5rem, -3rem);
  cursor: pointer;
  margin-top: 6px;
  width: 173px;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #0d80ff;
  color: #000;
  font-weight: bold;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-left: 1.5rem;
}
.main__download:hover {
  background-color: #1066c2;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.main__icon {
  width: 60px;
  height: 60px;
  margin-bottom: -24px;
}

.main__technologies {
  max-width: 480px;
  width: 100%;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-left: -9px;
  padding-bottom: 15px;
}
.main__tecnologias {
  width: 260px;
  height: 45px;
  font-size: 1.9rem;
  padding-left: 25px;
}
.main__logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main__logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 3rem;
}
.fa-brands,
.fab {
  font-size: 2rem;
}

.fa-html5 {
  color: orange;
  transform: translate(0.2rem, 0rem);
  -webkit-transform: translate(0.2rem, 0rem);
  -moz-transform: translate(0.2rem, 0rem);
  -ms-transform: translate(0.2rem, 0rem);
  -o-transform: translate(0.2rem, 0rem);
}
.fa-css3 {
  color: blue;
  transform: translate(1.8rem, 0rem);
  -webkit-transform: translate(1.8rem, 0rem);
  -moz-transform: translate(1.8rem, 0rem);
  -ms-transform: translate(1.8rem, 0rem);
  -o-transform: translate(1.8rem, 0rem);
}
.fa-js {
  color: yellow;
  transform: translate(1rem, 0rem);
  -webkit-transform: translate(1rem, 0rem);
  -moz-transform: translate(1rem, 0rem);
  -ms-transform: translate(1rem, 0rem);
  -o-transform: translate(1rem, 0rem);
}
.fa-bootstrap {
  color: purple;
  transform: translate(-14.5rem, 4rem);
  -webkit-transform: translate(-14.5rem, 4rem);
  -moz-transform: translate(-14.5rem, 4rem);
  -ms-transform: translate(-14.5rem, 4rem);
  -o-transform: translate(-14.5rem, 4rem);
}
.fa-react {
  color: blue;
  transform: translate(0.3rem, 1rem);
  -webkit-transform: translate(0.3rem, 1rem);
  -moz-transform: translate(0.3rem, 1rem);
  -ms-transform: translate(0.3rem, 1rem);
  -o-transform: translate(0.3rem, 1rem);
}
.fa-git-alt {
  color: red;
  transform: translate(0.3rem, 1rem);
  -webkit-transform: translate(0.3rem, 1rem);
  -moz-transform: translate(0.3rem, 1rem);
  -ms-transform: translate(0.3rem, 1rem);
  -o-transform: translate(0.3rem, 1rem);
}
.main__logo--html {
  font-size: 1rem;
  transform: translate(-2.4rem, 2rem);
  -webkit-transform: translate(-2.4rem, 2rem);
  -moz-transform: translate(-2.4rem, 2rem);
  -ms-transform: translate(-2.4rem, 2rem);
  -o-transform: translate(-2.4rem, 2rem);
}
.main__logo--css {
  font-size: 1rem;
  transform: translate(-2.1rem, 2rem);
  -webkit-transform: translate(-2.1rem, 2rem);
  -moz-transform: translate(-2.1rem, 2rem);
  -ms-transform: translate(-2.1rem, 2rem);
  -o-transform: translate(-2.1rem, 2rem);
}
.main__logo--js {
  font-size: 1rem;
  transform: translate(-2.4rem, 2rem);
  -webkit-transform: translate(-2.4rem, 2rem);
  -moz-transform: translate(-2.4rem, 2rem);
  -ms-transform: translate(-2.4rem, 2rem);
  -o-transform: translate(-2.4rem, 2rem);
}
.main__logo--bootstrap {
  font-size: 1rem;
  transform: translate(-2.4rem, 3rem);
  -webkit-transform: translate(-2.4rem, 3rem);
  -moz-transform: translate(-2.4rem, 3rem);
  -ms-transform: translate(-2.4rem, 3rem);
  -o-transform: translate(-2.4rem, 3rem);
}
.main__logo--react {
  font-size: 1rem;
  transform: translate(-2.4rem, 3rem);
  -webkit-transform: translate(-2.4rem, 3rem);
  -moz-transform: translate(-2.4rem, 3rem);
  -ms-transform: translate(-2.4rem, 3rem);
  -o-transform: translate(-2.4rem, 3rem);
}
.main__logo--git {
  font-size: 1rem;
  transform: translate(-1.3rem, 3rem);
  -webkit-transform: translate(-1.3rem, 3rem);
  -moz-transform: translate(-1.3rem, 3rem);
  -ms-transform: translate(-1.3rem, 3rem);
  -o-transform: translate(-1.3rem, 3rem);
}
.main__proyects {
  max-width: 480px;
  width: 100%;
  height: 185rem;
  margin-top: 40px;
}
.main__proyectos {
  padding-left: 4rem;
  padding-top: 10px;
}
.main__cards__container {
  max-width: 480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main__card {
  width: 100%;
  height: 567px;
  margin-top: 10px;
  border: 1px solid;
  background: #363636;
  box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
}
.card__header {
  width: 100%;
  height: 260px;
  background: url(.jpg), #d9d9d9;
  border-radius: 20px 20px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 300px;
}
.card__content {
  padding: 15px;
  text-align: center;
  color: #cccccc;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 300;
}
.card__description {
  text-align: justify;
}
.card__tecnologias {
  font-size: 15px;
  font-weight: 400;
  display: inline-block;
  padding-left: 30px;
  width: 20rem;
  transform: translate(-2rem, 1rem);
  -webkit-transform: translate(-2rem, 1rem);
  -moz-transform: translate(-2rem, 1rem);
  -ms-transform: translate(-2rem, 1rem);
  -o-transform: translate(-2rem, 1rem);
}
.card__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 1rem;
  transform: translate(-1rem, 1rem);
  -webkit-transform: translate(-1rem, 1rem);
  -moz-transform: translate(-1rem, 1rem);
  -ms-transform: translate(-1rem, 1rem);
  -o-transform: translate(-1rem, 1rem);
}
.card__demo {
  text-decoration: underline;
  margin-left: -35px;
}
.card__header--relojeria {
  width: 300px;
  height: 314px;
  background: url(/assets/relojeriaawex.webp), #d9d9d9;
  border-radius: 20px 20px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card__header--breaking {
  width: 300px;
  height: 314px;
  background: url(/assets/breakingbad.webp), #d9d9d9;
  border-radius: 20px 20px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card__header--veterinaria {
  width: 300px;
  height: 314px;
  background: url(/assets/veterinaria.webp), #d9d9d9;
  border-radius: 20px 20px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card__tecnologias--veterinaria {
  padding-left: 2.5rem;
  margin-top: -1rem;
  transform: translate(-2.5rem, 0rem);
  -webkit-transform: translate(-2.5rem, 0rem);
  -moz-transform: translate(-2.5rem, 0rem);
  -ms-transform: translate(-2.5rem, 0rem);
  -o-transform: translate(-2.5rem, 0rem);
}
.card__header--digital {
  width: 300px;
  height: 314px;
  background: url(/assets/digital.webp), #d9d9d9;
  border-radius: 20px 20px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
.card__header--spacex {
  width: 300px;
  height: 314px;
  background: url(/assets/spacex.webp), #d9d9d9;
  border-radius: 20px 20px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card__content--veterinaria {
  height: 11rem;
  padding-top: 0px;
  width: 100%;
  padding-right: 5px;
  padding-left: 9px;
}
.card__tecnologias--veterinaria {
  transform: translate(-2.5rem, 2rem);
  -webkit-transform: translate(-2.5rem, 2rem);
  -moz-transform: translate(-2.5rem, 2rem);
  -ms-transform: translate(-2.5rem, 2rem);
  -o-transform: translate(-2.5rem, 2rem);
}
.card__tecnologias--digital {
  padding-right: 1rem;
  letter-spacing: 1px;
}
.card__tecnologias--spacex {
  padding-right: 1rem;
  letter-spacing: 1px;
}
.main__contact {
  max-width: 480px;
  width: 100%;
  height: 7rem;
}
.main__contacto {
  padding-left: 4rem;
}
.main__redes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 480px;
  width: 100%;
  color: #00d9f5;
}
.fa-envelope {
  font-size: 2rem;
}
.main__mail {
  color: gray;
  margin-left: -7px;
}
.main__linkedin {
  color: gray;
  margin-left: -24px;
}
.main__github {
  color: gray;
  margin-left: -14px;
}
.fa-envelope:hover {
  color: #3e98a3;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
.fa-linkedin:hover {
  color: #3e98a3;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
.fa-github:hover {
  color: #3e98a3;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
.footer__container {
  width: 100%;
  max-width: 480px;
  height: 3rem;
  background-color: #282828;
  border: 1px solid #282828;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #fff;
  margin-left: -1rem;
  margin-top: 0.5rem;
  max-width: 480px;
}
@media screen and (min-width: 320px) {
  .header__button {
    display: block;
    background: none;
    border: 0;
  }
  .header__nav {
    width: 100%;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
    height: 0vh;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }

  .header__nav--activo {
    opacity: 1;
    height: 26vh;
  }
  .header__ul {
    flex-direction: column;
  }

  .main__container {
    height: 251rem;
    max-width: 480px;
  }
  .main__title {
    font-size: 1.3rem;
    width: 251px;
    padding-top: 4rem;
    padding-left: 1.3rem;
  }
  .main__subtitle {
    padding-bottom: 0.625em;
    font-size: 1.2rem;
  }

  .main__picture {
    padding-right: 1rem;
    height: auto;
    max-width: 15rem;
    padding-right: 0;
    transform: translate(2.3rem);
    -webkit-transform: translate(2.3rem);
    -moz-transform: translate(2.3rem);
    -ms-transform: translate(2.3rem);
    -o-transform: translate(2.3rem);
  }
  .main__about {
    padding-left: 0.625em;
    height: 17rem;
    margin-left: -1rem;
  }
  .main__acerca {
    padding-left: 4.5rem;
    width: 95%;
  }
  .main__technologies {
    height: 13rem;
  }
  .main__descripcion {
    margin-left: 2rem;
  }
  .main__description {
    padding-left: 25px;
  }
  .main__descargar {
    height: 3rem;
    width: 100%;
    max-width: 480px;
    margin-left: 1.5rem;
  }
  .main__download {
    margin-left: 0rem;
    width: 100%;
    max-width: 10rem;
  }
  .main__tecnologias {
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .main__logos {
    transform: translate(0rem, 1rem);
    -webkit-transform: translate(0rem, 1rem);
    -moz-transform: translate(0rem, 1rem);
    -ms-transform: translate(0rem, 1rem);
    -o-transform: translate(0rem, 1rem);
  }
  .main__logo__container {
    transform: translate(0rem, 1rem);
    -webkit-transform: translate(0rem, 1rem);
    -moz-transform: translate(0rem, 1rem);
    -ms-transform: translate(0rem, 1rem);
    -o-transform: translate(0rem, 1rem);
  }
  .main__logo {
    transform: translate(0rem, 1rem);
    -webkit-transform: translate(0rem, 1rem);
    -moz-transform: translate(0rem, 1rem);
    -ms-transform: translate(0rem, 1rem);
    -o-transform: translate(0rem, 1rem);
  }
  .main__logo--html {
    transform: translate(-2rem, 2rem);
    -webkit-transform: translate(-2rem, 2rem);
    -moz-transform: translate(-2rem, 2rem);
    -ms-transform: translate(-2rem, 2rem);
    -o-transform: translate(-2rem, 2rem);
  }
  .fa-js {
    transform: translate(3rem, 0rem);
    -webkit-transform: translate(3rem, 0rem);
    -moz-transform: translate(3rem, 0rem);
    -ms-transform: translate(3rem, 0rem);
    -o-transform: translate(3rem, 0rem);
  }
  .fa-bootstrap {
    transform: translate(1.5rem, 2rem);
    -webkit-transform: translate(1.5rem, 2rem);
    -moz-transform: translate(1.5rem, 2rem);
    -ms-transform: translate(1.5rem, 2rem);
    -o-transform: translate(1.5rem, 2rem);
  }
  .fa-react {
    transform: translate(0.3rem, 2rem);
    -webkit-transform: translate(0.3rem, 2rem);
    -moz-transform: translate(0.3rem, 2rem);
    -ms-transform: translate(0.3rem, 2rem);
    -o-transform: translate(0.3rem, 2rem);
  }
  .fa-git-alt {
    transform: translate(0.3rem, 2rem);
    -webkit-transform: translate(0.3rem, 2rem);
    -moz-transform: translate(0.3rem, 2rem);
    -ms-transform: translate(0.3rem, 2rem);
    -o-transform: translate(0.3rem, 2rem);
  }
  .main__logo--css {
    transform: translate(-0.4rem, 2rem);
    -webkit-transform: translate(-0.4rem, 2rem);
    -moz-transform: translate(-0.4rem, 2rem);
    -ms-transform: translate(-0.4rem, 2rem);
    -o-transform: translate(-0.4rem, 2rem);
  }
  .main__logo--js {
    transform: translate(-0.3rem, 2rem);
    -webkit-transform: translate(-0.3rem, 2rem);
    -moz-transform: translate(-0.3rem, 2rem);
    -ms-transform: translate(-0.3rem, 2rem);
    -o-transform: translate(-0.3rem, 2rem);
  }
  .main__logo--bootstrap {
    transform: translate(-2.4rem, 4rem);
    -webkit-transform: translate(-2.4rem, 4rem);
    -moz-transform: translate(-2.4rem, 4rem);
    -ms-transform: translate(-2.4rem, 4rem);
    -o-transform: translate(-2.4rem, 4rem);
  }
  .main__logo--react {
    transform: translate(-2.4rem, 4rem);
    -webkit-transform: translate(-2.4rem, 4rem);
    -moz-transform: translate(-2.4rem, 4rem);
    -ms-transform: translate(-2.4rem, 4rem);
    -o-transform: translate(-2.4rem, 4rem);
  }
  .main__logo--git {
    transform: translate(-1.3rem, 4rem);
    -webkit-transform: translate(-1.3rem, 4rem);
    -moz-transform: translate(-1.3rem, 4rem);
    -ms-transform: translate(-1.3rem, 4rem);
    -o-transform: translate(-1.3rem, 4rem);
  }
  .main__proyects {
    margin-top: -1rem;
  }
  .main__proyectos {
    padding-left: 5rem;
  }
  .card__tecnologias {
    transform: translate(-2rem, 1rem);
    -webkit-transform: translate(-2rem, 1rem);
    -moz-transform: translate(-2rem, 1rem);
    -ms-transform: translate(-2rem, 1rem);
    -o-transform: translate(-2rem, 1rem);
  }
  .card__tecnologias--veterinaria {
    transform: translate(-2.5rem, 2rem);
    -webkit-transform: translate(-2.5rem, 2rem);
    -moz-transform: translate(-2.5rem, 2rem);
    -ms-transform: translate(-2.5rem, 2rem);
    -o-transform: translate(-2.5rem, 2rem);
  }
  .main__contact {
    height: 8rem;
  }
  .main__contacto {
    padding-left: 6rem;
  }
  .footer {
    padding-left: 2rem;
  }
}
@media screen and (min-width: 360px) {
  .main__picture {
    transform: translate(3rem);
    -webkit-transform: translate(3rem);
    -moz-transform: translate(3rem);
    -ms-transform: translate(3rem);
    -o-transform: translate(3rem);
  }
  .main__acerca {
    width: 97%;
    margin-left: 1rem;
  }
  .main__description {
    margin-left: 2rem;
    width: 94%;
    padding-left: 0;
  }
  .main__container {
    width: 91%;
  }
  .main__descargar {
    margin-left: 3rem;
  }
  .main__download {
    max-width: 9rem;
  }
  .main__icon {
    width: 40px;
    height: 60px;
    padding-bottom: 14px;
  }
  .main__descarga {
    transform: translate(2rem, -1.9rem);
    -webkit-transform: translate(2rem, -1.9rem);
    -moz-transform: translate(2rem, -1.9rem);
    -ms-transform: translate(2rem, -1.9rem);
    -o-transform: translate(2rem, -1.9rem);
  }
  .main__tecnologias {
    margin-left: 2.5rem;
    margin-top: 0;
  }
  .fa-js {
    transform: translate(4.5rem);
    -webkit-transform: translate(4.5rem);
    -moz-transform: translate(4.5rem);
    -ms-transform: translate(4.5rem);
    -o-transform: translate(4.5rem);
  }
  .main__logo--js {
    transform: translate(1rem, 2rem);
    -webkit-transform: translate(1rem, 2rem);
    -moz-transform: translate(1rem, 2rem);
    -ms-transform: translate(1rem, 2rem);
    -o-transform: translate(1rem, 2rem);
  }
  .fa-git-alt {
    transform: translate(2rem, 2rem);
    -webkit-transform: translate(2rem, 2rem);
    -moz-transform: translate(2rem, 2rem);
    -ms-transform: translate(2rem, 2rem);
    -o-transform: translate(2rem, 2rem);
  }
  .main__logo--git {
    transform: translate(0.3rem, 4rem);
    -webkit-transform: translate(0.3rem, 4rem);
    -moz-transform: translate(0.3rem, 4rem);
    -ms-transform: translate(0.3rem, 4rem);
    -o-transform: translate(0.3rem, 4rem);
  }
  .main__descripcion {
    margin-left: 2.5rem;
  }
  .main__proyects {
    margin-left: 1rem;
  }
  .main__contacto {
    padding-left: 8.5rem;
  }
  .main__redes {
    margin-left: 1rem;
  }
  .footer__container {
    width: 110%;
  }
}
@media screen and (min-width: 384px) {
  .main__picture {
    transform: translate(4rem);
  }
  .main__acerca {
    margin-left: 1.5rem;
  }
  .main__descargar {
    margin-left: 4rem;
  }
  .main__about {
    height: 16rem;
  }
  .main__tecnologias {
    margin-left: 3.5rem;
    margin-top: 0.5rem;
  }
  .main__proyectos {
    margin-left: 1rem;
  }
  .main__contacto {
    padding-left: 7.5rem;
  }
  .main__redes {
    padding-left: 1rem;
  }
}
@media screen and (min-width: 411px) {
  .main__picture {
    transform: translate(5rem);
    -webkit-transform: translate(5rem);
    -moz-transform: translate(5rem);
    -ms-transform: translate(5rem);
    -o-transform: translate(5rem);
  }
  .main__acerca {
    margin-left: 2.5rem;
    width: 80%;
  }
  .main__description {
    padding-left: 2rem;
    padding-right: 1.5rem;
  }
  .main__descargar {
    margin-left: 4.5rem;
    margin-top: 0;
    width: 80%;
  }
  .main__tecnologias {
    margin-left: 1rem;
    width: 100%;
  }
  .main__proyectos {
    margin-left: 2rem;
  }
  .main__contacto {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 425px) {
  .main__container {
    height: 246rem;
  }
  .main__about {
    height: 13rem;
  }
  .main__description {
    margin-bottom: 1rem;
  }
  .main__descargar {
    margin-top: -1rem;
  }
  .main__technologies {
    margin-top: 3.5rem;
  }
  .main__proyectos {
    margin-left: 1.5rem;
  }
  .main__contacto {
    margin-left: 1rem;
  }
  .footer {
    padding-left: 0;
  }
}
@media screen and (min-width: 480px) {
  .header {
    max-width: 600px;
  }
  .main__container {
    height: 248rem;
    max-width: 600px;
  }
  .main__picture__container {
    height: 550px;
    max-width: 600px;
    padding-left: 2rem;
    padding-right: 1rem;
  }
  .main__picture {
    max-width: 17rem;
    transform: translate(5.5rem);
    -webkit-transform: translate(5.5rem);
    -moz-transform: translate(5.5rem);
    -ms-transform: translate(5.5rem);
    -o-transform: translate(5.5rem);
  }
  .main__about {
    max-width: 600px;
    height: 14rem;
  }
  .main__acerca {
    padding-left: 6rem;
    max-width: 600px;
  }
  .main__descargar {
    margin-left: 6rem;
  }
  .main__technologies {
    max-width: 600px;
    margin-top: 0;
  }
  .main__descripcion {
    margin-left: 2rem;
  }
  .main__description {
    padding-left: 3rem;
    padding-right: 2.5rem;
  }
  .main__tecnologias {
    padding-left: 2rem;
    margin-top: 2.5rem;
  }

  .main__proyects {
    max-width: 600px;
  }
  .main__proyectos {
    padding-left: 7rem;
  }
  .main__cards__container {
    max-width: 600px;
    width: 100%;
  }
  .main__contact {
    width: 100%;
    max-width: 600px;
  }
  .main__contacto {
    margin-left: 3rem;
  }
  .main__redes {
    margin-left: 1rem;
  }
  .footer__container {
    max-width: 600px;
  }
  .footer {
    margin-left: -1rem;
  }
}
@media screen and (min-width: 538px) {
  .main__acerca {
    padding-left: 8rem;
  }
  .main__descargar {
    margin-left: 8rem;
  }
  .main__technologies {
    margin-top: -1rem;
  }
  .main__proyectos {
    padding-left: 8.5rem;
  }
  .main__contacto {
    margin-left: 4rem;
  }
  .footer {
    margin-left: 0;
  }
}
@media screen and (min-width: 566px) {
  .main__acerca {
    padding-left: 9rem;
  }
  .main__descargar {
    margin-left: 9rem;
  }
  .main__tecnologias {
    margin-top: 1rem;
  }
  .main__proyectos {
    padding-left: 9rem;
  }
  .main__contacto {
    margin-left: 5rem;
  }
  .main__redes {
    margin-left: 2rem;
  }
  .footer {
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 577px) {
  .main__container {
    height: 240rem;
  }
  .main__picture {
    transform: translate(8rem);
    -webkit-transform: translate(8rem);
    -moz-transform: translate(8rem);
    -ms-transform: translate(8rem);
    -o-transform: translate(8rem);
  }
  .main__acerca {
    padding-left: 9rem;
  }
  .main__descargar {
    margin-left: 9rem;
  }
  .main__descripcion {
    margin-left: 4rem;
  }
  .main__logo__container {
    transform: translate(1rem, 1rem);
    -webkit-transform: translate(1rem, 1rem);
    -moz-transform: translate(1rem, 1rem);
    -ms-transform: translate(1rem, 1rem);
    -o-transform: translate(1rem, 1rem);
  }
  .main__logos {
    transform: translate(1rem, 1rem);
    -webkit-transform: translate(1rem, 1rem);
    -moz-transform: translate(1rem, 1rem);
    -ms-transform: translate(1rem, 1rem);
    -o-transform: translate(1rem, 1rem);
  }
  .main__proyects {
    height: 185rem;
  }
  .main__proyectos {
    padding-left: 9.5rem;
  }
  .main__cards__container {
    margin-left: 1rem;
  }
  .main__contacto {
    margin-left: 6rem;
  }
  .main__redes {
    margin-left: 2.5rem;
  }
  .footer {
    margin-left: 1.5rem;
  }
}
/* TABLETS */
@media screen and (min-width: 600px) {
  .header {
    max-width: 768px;
  }
  .main__container {
    max-width: 768px;
    height: 245rem;
    width: 96%;
  }
  .main__title {
    font-size: 1.6rem;
    width: 17rem;
    padding-top: 4rem;
    padding-left: 1.3rem;
    margin-top: 11rem;
  }
  .main__nombre {
    font-size: 1.5rem;
  }
  .main__subtitle {
    font-size: 1.3rem;
  }
  .main__picture__container {
    max-width: 768px;
  }
  .main__picture {
    max-width: 15rem;
    transform: translate(17rem, -12rem);
    -webkit-transform: translate(17rem, -12rem);
    -moz-transform: translate(17rem, -12rem);
    -ms-transform: translate(17rem, -12rem);
    -o-transform: translate(17rem, -12rem);
  }
  .main__about {
    margin-top: -11rem;
    padding-left: 1.5rem;
    height: 13rem;
    max-width: 768px;
    width: 100%;
  }
  .main__acerca {
    margin-left: 3rem;
    height: 4rem;
  }
  .main__description {
    max-width: 768px;
    width: 100%;
    padding-left: 2rem;
    padding-right: 3rem;
    font-size: 0.8rem;
  }
  .main__descargar {
    margin-left: 9rem;
    height: 3rem;
    max-width: 77%;
    margin-top: -1rem;
  }
  .main__download {
    height: 2.6rem;
    max-width: 11rem;
    width: 100%;
  }
  .main__descarga {
    transform: translate(3rem, -1.9rem);
    -webkit-transform: translate(3rem, -1.9rem);
    -moz-transform: translate(3rem, -1.9rem);
    -ms-transform: translate(3rem, -1.9rem);
    -o-transform: translate(3rem, -1.9rem);
  }
  .main__icon {
    width: 40px;
    height: 60px;
    transform: translate(0.7rem, 0.2rem);
    -webkit-transform: translate(0.7rem, 0.2rem);
    -moz-transform: translate(0.7rem, 0.2rem);
    -ms-transform: translate(0.7rem, 0.2rem);
    -o-transform: translate(0.7rem, 0.2rem);
  }
  .main__technologies {
    height: 13rem;
    width: 100%;
    max-width: 768px;
  }
  .main__tecnologias {
    padding-left: 1rem;
    margin-top: 2rem;
  }
  .main__descripcion {
    margin-left: 3rem;
  }
  .main__logo__container {
    transform: translate(0rem, 1rem);
  }
  .main__logos {
    transform: translate(0rem, 13rem);
    -webkit-transform: translate(0rem, 13rem);
    -moz-transform: translate(0rem, 13rem);
    -ms-transform: translate(0rem, 13rem);
    -o-transform: translate(0rem, 13rem);
  }
  .fa-css3 {
    transform: translate(1.6rem, 0rem);
    -webkit-transform: translate(1.6rem, 0rem);
    -moz-transform: translate(1.6rem, 0rem);
    -ms-transform: translate(1.6rem, 0rem);
    -o-transform: translate(1.6rem, 0rem);
  }

  .fa-js {
    transform: translate(5rem, 0rem);
    -webkit-transform: translate(5rem, 0rem);
    -moz-transform: translate(5rem, 0rem);
    -ms-transform: translate(5rem, 0rem);
    -o-transform: translate(5rem, 0rem);
  }
  .main__logo--js {
    transform: translate(1.5rem, 2rem);
    -webkit-transform: translate(1.5rem, 2rem);
    -moz-transform: translate(1.5rem, 2rem);
    -ms-transform: translate(1.5rem, 2rem);
    -o-transform: translate(1.5rem, 2rem);
  }
  .fa-bootstrap {
    transform: translate(1.5rem, -10rem);
    -webkit-transform: translate(1.5rem, -10rem);
    -moz-transform: translate(1.5rem, -10rem);
    -ms-transform: translate(1.5rem, -10rem);
    -o-transform: translate(1.5rem, -10rem);
  }
  .main__logo--bootstrap {
    transform: translate(-2.4rem, -8rem);
    -webkit-transform: translate(-2.4rem, -8rem);
    -moz-transform: translate(-2.4rem, -8rem);
    -ms-transform: translate(-2.4rem, -8rem);
    -o-transform: translate(-2.4rem, -8rem);
  }
  .fa-react {
    transform: translate(0.3rem, -10rem);
    -webkit-transform: translate(0.3rem, -10rem);
    -moz-transform: translate(0.3rem, -10rem);
    -ms-transform: translate(0.3rem, -10rem);
    -o-transform: translate(0.3rem, -10rem);
  }
  .main__logo--react {
    transform: translate(-2.4rem, -8rem);
    -webkit-transform: translate(-2.4rem, -8rem);
    -moz-transform: translate(-2.4rem, -8rem);
    -ms-transform: translate(-2.4rem, -8rem);
    -o-transform: translate(-2.4rem, -8rem);
  }
  .fa-git-alt {
    transform: translate(2.3rem, -10rem);
    -webkit-transform: translate(2.3rem, -10rem);
    -moz-transform: translate(2.3rem, -10rem);
    -ms-transform: translate(2.3rem, -10rem);
    -o-transform: translate(2.3rem, -10rem);
  }
  .main__logo--git {
    transform: translate(0.7rem, -8rem);
    -webkit-transform: translate(0.7rem, -8rem);
    -moz-transform: translate(0.7rem, -8rem);
    -ms-transform: translate(0.7rem, -8rem);
    -o-transform: translate(0.7rem, -8rem);
  }
  .main__proyects {
    max-width: 768px;
    width: 98%;
  }
  .main__proyectos {
    margin-left: 3rem;
    width: 91%;
  }
  .main__cards__container {
    max-width: 768px;
  }
  .main__card {
    margin-right: 5px;
  }
  .main__contact {
    max-width: 768px;
    width: 83%;
  }
  .main__contacto {
    margin-left: 6rem;
    width: 88%;
  }
  .main__redes {
    margin-left: 4rem;
  }
  .footer__container {
    max-width: 768px;
    width: 104%;
  }
  .footer {
    margin-left: 2.5rem;
  }
}
@media screen and (min-width: 623px) {
  .main__container {
    height: 246rem;
  }
  .main__acerca {
    margin-left: 4rem;
  }
  .main__description {
    padding-left: 4rem;
    padding-right: 5rem;
  }
  .main__descargar {
    padding-left: 1rem;
    margin-top: -1rem;
  }
  .main__proyects {
    height: 184rem;
  }
  .main__proyectos {
    margin-left: 4rem;
    width: 61%;
  }
  .main__contacto {
    margin-left: 7rem;
  }
  .footer {
    margin-left: 3rem;
  }
}
@media screen and (min-width: 663px) {
  .main__picture {
    transform: translate(21rem, -14rem);
    -webkit-transform: translate(21rem, -14rem);
    -moz-transform: translate(21rem, -14rem);
    -ms-transform: translate(21rem, -14rem);
    -o-transform: translate(21rem, -14rem);
  }
  .main__acerca {
    margin-left: 5rem;
  }
  .main__descargar {
    margin-top: -1rem;
    margin-left: 10rem;
  }
  .main__tecnologias {
    padding-left: 2rem;
  }
  .main__proyectos {
    margin-left: 5rem;
  }
  .main__contacto {
    margin-left: 8.5rem;
  }
  .main__redes {
    margin-left: 5rem;
  }
  .footer {
    margin-left: 5rem;
  }
}
@media screen and (min-width: 666px) {
  .main__container {
    height: 175rem;
  }
  .main__proyects {
    height: 113rem;
  }
}
@media screen and (min-width: 690px) {
  .main__acerca {
    margin-left: 6.5rem;
  }
  .main__tecnologias {
    margin-top: 1rem;
  }
  .main__descargar {
    margin-left: 11rem;
  }
  .main__proyectos {
    margin-left: 6rem;
  }
  .main__contacto {
    margin-left: 9rem;
  }
}
@media screen and (min-width: 715px) {
  .main__acerca {
    margin-left: 7rem;
    width: 73%;
  }
  .main__descargar {
    margin-top: 0;
    margin-left: 12rem;
  }
  .main__description {
    margin-bottom: 0;
  }
  .main__proyects {
    height: 113rem;
  }
  .main__proyectos {
    margin-left: 7rem;
  }
  .main__contacto {
    margin-left: 10.5rem;
  }
  .main__container {
    height: 175rem;
  }
  .main__redes {
    margin-left: 6.5rem;
  }
  .footer {
    margin-left: 6.5rem;
  }
}
@media screen and (min-width: 768px) {
  .header {
    max-width: 900px;
  }
  .main__container {
    max-width: 900px;
    height: 173rem;
  }
  .main__picture__container {
    max-width: 900px;
  }
  .main__picture {
    margin-left: 5rem;
  }
  .main__about {
    height: 13rem;
    max-width: 900px;
  }
  .main__acerca {
    margin-left: 9rem;
  }
  .main__description {
    max-width: 900px;
    padding-right: 8rem;
    padding-left: 7rem;
    margin-bottom: 1rem;
  }
  .main__descargar {
    padding-left: 3rem;
    margin-top: -1rem;
  }
  .main__technologies {
    max-width: 900px;
  }
  .main__tecnologias {
    margin-left: 1.5rem;
    margin-top: 2rem;
  }
  .main__proyects {
    max-width: 900px;
  }
  .main__proyectos {
    margin-left: 8.5rem;
  }
  .main__cards__container {
    max-width: 900px;
  }
  .main__card {
    margin-right: 1rem;
  }
  .main__contact {
    max-width: 900px;
  }
  .main__contacto {
    padding-left: 9rem;
  }
  .main__redes {
    margin-left: 9rem;
  }
  .footer__container {
    max-width: 900px;
  }
  .footer {
    margin-left: 8rem;
  }
}
@media screen and (min-width: 790px) {
  .main__tecnologias {
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .footer {
    margin-left: 9rem;
  }
}
@media screen and (min-width: 800px) {
  .main__acerca {
    margin-left: 10rem;
  }
  .main__descargar {
    padding-left: 4rem;
    margin-top: 0;
  }
  .main__tecnologias {
    margin-left: 1rem;
  }
  .main__description {
    margin-bottom: 0;
  }
  .main__proyectos {
    margin-left: 9rem;
  }
  .main__contacto {
    padding-left: 9.5rem;
  }
  .footer {
    margin-left: 9rem;
  }
}
@media screen and (min-width: 840px) {
  .main__picture {
    margin-left: 9rem;
  }
  .main__acerca {
    margin-left: 11rem;
  }
  .main__description {
    padding-left: 10rem;
    padding-right: 10rem;
    margin-bottom: 1rem;
  }
  .main__descargar {
    margin-top: -1rem;
    padding-left: 5rem;
  }
  .main__tecnologias {
    margin-top: 2rem;
  }
  .main__proyectos {
    margin-left: 10.5rem;
  }
  .main__contacto {
    padding-left: 10rem;
  }
  .main__redes {
    margin-left: 10rem;
  }
  .footer {
    margin-left: 10rem;
  }
}
@media screen and (min-width: 873px) {
  .main__tecnologias {
    margin-top: 1rem;
    margin-left: 0;
  }
  .main__contacto {
    padding-left: 11rem;
  }
  .main__redes {
    margin-left: 11rem;
  }
  .footer {
    margin-left: 11rem;
  }
}
@media screen and (min-width: 900px) {
  .header {
    max-width: 1024px;
  }
  .main__container {
    max-width: 1024px;
    height: 176rem;
  }
  .main__picture__container {
    max-width: 1024px;
  }
  .main__picture {
    max-width: 19rem;
  }
  .main__about {
    max-width: 1024px;
  }
  .main__acerca {
    margin-left: 13rem;
    width: 65%;
  }
  .main__description {
    max-width: 1024px;
    padding-right: 7rem;
    padding-left: 10rem;
  }
  .main__descargar {
    padding-left: 7rem;
    margin-top: -1rem;
  }
  .main__technologies {
    max-width: 1024px;
    margin-top: 0.6rem;
  }
  .main__tecnologias {
    margin-left: 1rem;
    margin-top: -1rem;
  }
  .main__descripcion {
    padding-left: 2rem;
  }
  .main__proyects {
    max-width: 1024px;
    width: 100%;
  }
  .main__proyectos {
    margin-left: 12.5rem;
  }
  .main__cards__container {
    max-width: 1024px;
  }
  .main__card--relojeria:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 8px 5px rgba(224, 224, 224, 0.11);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 8px 5px rgba(224, 224, 224, 0.11);
  }
  .main__card--breaking:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 8px 5px rgba(224, 224, 224, 0.11);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 8px 5px rgba(224, 224, 224, 0.11);
  }
  .main__card--veterinaria:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 8px 5px rgba(224, 224, 224, 0.11);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 8px 5px rgba(224, 224, 224, 0.11);
  }
  .main__card--digital:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 8px 5px rgba(224, 224, 224, 0.11);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 8px 5px rgba(224, 224, 224, 0.11);
  }
  .main__card--spacex:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 8px 5px rgba(224, 224, 224, 0.11);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 8px 5px rgba(224, 224, 224, 0.11);
  }
  .main__contact {
    max-width: 1024px;
  }
  .main__contacto {
    padding-left: 12.5rem;
  }
  .main__redes {
    margin-left: 13rem;
  }
  .footer__container {
    max-width: 1024px;
    width: 104%;
  }
  .footer {
    margin-left: 12.5rem;
  }
}
@media screen and (min-width: 942px) {
  .main__about {
    height: 11rem;
  }
  .main__acerca {
    margin-left: 14rem;
  }
  .main__descargar {
    padding-left: 8rem;
    margin-top: -1rem;
  }
  .main__tecnologias {
    margin-left: 1.5rem;
    margin-top: 2rem;
  }
  .main__proyectos {
    margin-left: 14rem;
  }
  .main__contacto {
    padding-left: 14rem;
  }
  .main__redes {
    margin-left: 14rem;
  }
  .footer {
    margin-left: 14rem;
  }
}
@media screen and (min-width: 965px) {
  .header__nav {
    display: flex;
    width: 100%;
    opacity: 1;
  }
  .header__ul {
    flex-direction: row;
    margin-top: -2em;
  }
  .header__button {
    display: none;
  }
  .main__container {
    height: 170rem;
  }
  .main__acerca {
    margin-left: 15rem;
  }
  .main__descargar {
    margin-top: -1rem;
    margin-left: 14rem;
  }
  .main__tecnologias {
    margin-left: 1rem;
    margin-top: 1.5rem;
  }
  .main__proyects {
    padding-top: 10px;
    height: 113rem;
  }
  .main__proyectos {
    margin-left: 15rem;
  }
  .main__contacto {
    padding-left: 15rem;
  }
  .main__redes {
    margin-left: 15rem;
  }
  .footer {
    margin-left: 15rem;
  }
}
@media screen and (min-width: 1005px) {
  .main__container {
    height: 134rem;
  }
  .main__proyects {
    height: 77rem;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    max-width: 1200px;
  }
  .main__picture__container {
    max-width: 1200px;
  }
  .main__picture {
    max-width: 19rem;
    margin-left: 16rem;
  }
  .main__about {
    max-width: 1200px;
    margin-top: -11rem;
  }
  .main__acerca {
    margin-left: 17rem;
  }
  .main__description {
    max-width: 1200px;
    padding-right: 10rem;
    padding-left: 12rem;
  }
  .main__descargar {
    padding-left: 10rem;
  }
  .main__download {
    width: 33%;
  }
  .main__technologies {
    max-width: 1200px;
  }
  .main__tecnologias {
    padding-left: 4rem;
    margin-top: 2rem;
  }
  .main__proyects {
    max-width: 1200px;
    width: 99%;
  }
  .main__proyectos {
    margin-left: 17rem;
  }
  .main__cards__container {
    max-width: 1200px;
  }
  .main__contact {
    max-width: 1200px;
  }
  .main__contacto {
    padding-left: 17rem;
  }
  .main__redes {
    margin-left: 17rem;
  }
  .footer__container {
    max-width: 1200px;
    width: 104%;
  }
  .footer {
    margin-left: 17rem;
  }
}
@media screen and (min-width: 1064px) {
  .main__acerca {
    margin-left: 18rem;
  }
  .main__descargar {
    padding-left: 11rem;
  }

  .main__tecnologias {
    margin-top: 0;
  }
  .main__proyectos {
    margin-left: 18rem;
  }
  .main__contacto {
    padding-left: 18rem;
  }
  .main__redes {
    margin-left: 18rem;
  }
  .footer {
    margin-left: 18rem;
  }
}
@media screen and (min-width: 1085px) {
  .main__description {
    margin-bottom: 0;
  }
  .main__descargar {
    margin-top: 0rem;
  }

  .main__tecnologias {
    padding-left: 2rem;
  }
  .footer__container {
    width: 105%;
  }
}
@media screen and (min-width: 1093px) {
  .footer__container {
    width: 106%;
  }
}
@media screen and (min-width: 1103px) {
  .footer__container {
    width: 107%;
  }
}
@media screen and (min-width: 1115px) {
  .footer__container {
    width: 108%;
  }
}
@media screen and (min-width: 1126px) {
  .footer__container {
    width: 109%;
  }
}
@media screen and (min-width: 1136px) {
  .footer__container {
    width: 110%;
  }
}
@media screen and (min-width: 1146px) {
  .main__picture {
    margin-left: 20rem;
  }
  .main__acerca {
    margin-left: 20rem;
  }
  .main__descargar {
    padding-left: 13rem;
  }
  .main__tecnologias {
    padding-left: 6rem;
  }
  .main__descripcion {
    padding-left: 5rem;
  }
  .main__logo__container {
    transform: translate(2rem, 1rem);
    -webkit-transform: translate(2rem, 1rem);
    -moz-transform: translate(2rem, 1rem);
    -ms-transform: translate(2rem, 1rem);
    -o-transform: translate(2rem, 1rem);
  }
  .main__logos {
    transform: translate(2rem, 13rem);
    -webkit-transform: translate(2rem, 13rem);
    -moz-transform: translate(2rem, 13rem);
    -ms-transform: translate(2rem, 13rem);
    -o-transform: translate(2rem, 13rem);
  }
  .main__proyectos {
    margin-left: 20rem;
}
.main__cards__container {
    margin-left: 3rem;
}
.main__contacto {
  padding-left: 20rem;
}
.main__redes {
  margin-left: 20rem;
}
  .footer__container {
    width: 111%;
  }
  .footer {
    margin-left: 20rem;
}
}
@media screen and (min-width: 1156px) {
  .footer__container {
    width: 112%;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    max-width: 1366px;
  }
  .main__container {
    max-width: 1366px;
  }
  .main__picture {
    transform: translate(29rem, -14rem);
    -webkit-transform: translate(29rem, -14rem);
    -moz-transform: translate(29rem, -14rem);
    -ms-transform: translate(29rem, -14rem);
    -o-transform: translate(29rem, -14rem);
  }
  .main__about {
    max-width: 1366px;
  }
.main__acerca {
    margin-left: 22rem;
}
  .main__description {
    max-width: 1366px;
    padding-right: 16rem;
    padding-left: 16rem;
  }
  .main__descripcion {
    padding-left: 2rem;
  }
  .main__descargar {
    padding-left: 15rem;
    max-width: 51rem;
    margin-top: -1rem;
  }
  .main__technologies {
    max-width: 1366px;
  }
  .main__tecnologias {
    padding-left: 4rem;
  }
  .main__proyects {
    max-width: 1366px;
  }
  .main__proyectos {
    margin-left: 22.5rem;
  }
  .main__cards__container {
    max-width: 1366px;
  }
  .main__contact {
    max-width: 1366px;
  }
  .main__contacto {
    padding-left: 22.5rem;
  }
  .main__redes {
    margin-left: 22.5rem;
  }
  .footer__container {
    max-width: 1366px;
    width: 104%;
  }
  .footer {
    margin-left: 22.5rem;
  }
}
@media screen and (min-width: 1230px) {
  .main__acerca {
    margin-left: 23rem;
}
.main__descargar {
    padding-left: 16rem;
}
  .main__description {
    margin-bottom: 1rem;
  }
  .main__tecnologias {
    padding-left: 4rem;
}
.main__descripcion {
    padding-left: 3rem;
}
.main__proyectos {
    margin-left: 23rem;
}
.main__contacto {
    padding-left: 23rem;
}
.main__redes {
    margin-left: 23rem;
}
.footer {
    margin-left: 23rem;
}
}
@media screen and (min-width: 1260px){
.main__acerca {
    margin-left: 24rem;
}
.main__descargar {
    padding-left: 17rem;
}.main__proyectos {
    margin-left: 24rem;
}
.main__contacto {
    padding-left: 24rem;
}
.main__redes {
    margin-left: 24rem;
}
.footer {
    margin-left: 24rem;
}
}
@media screen and (min-width: 1281px) {
  .main__picture {
    transform: translate(33rem, -14rem);
    -webkit-transform: translate(33rem, -14rem);
    -moz-transform: translate(33rem, -14rem);
    -ms-transform: translate(33rem, -14rem);
    -o-transform: translate(33rem, -14rem);
  }
.main__acerca {
    margin-left: 25rem;
}
  .main__description {
    margin-bottom: 0;
  }
  .main__descargar {
    padding-left: 18rem;
    max-width: 52rem;
    margin-top: 0;
  }
  .main__tecnologias {
    padding-left: 5rem;
  }
  .main__proyectos {
    margin-left: 25rem;
  }
  .main__contacto {
    padding-left: 25rem;
  }
  .main__redes {
    margin-left: 25rem;
  }
  .footer {
    margin-left: 25rem;
  }
}
@media screen and (min-width: 1315px){
.main__acerca {
    margin-left: 26rem;
}
.main__descargar {
    padding-left: 19rem;
}
.main__proyectos {
    margin-left: 26rem;
}
.main__contacto {
    padding-left: 26rem;
}
  .main__redes {
    margin-left: 26rem;
  }
  .footer {
    margin-left: 26rem;
  }
}
@media screen and (min-width: 1347px){
.main__acerca {
    margin-left: 27rem;
}
.main__descargar {
    padding-left: 20rem;
}
.main__proyectos {
    margin-left: 27rem;
}
.main__cards__container {
    margin-left: 2rem;
}
.main__contacto {
    padding-left: 27rem;
}
  .main__redes {
    margin-left: 27rem;
  }
  .footer {
    margin-left: 27rem;
  }
}
@media screen and (min-width: 1366px) {
  .header {
    max-width: 1440px;
  }
  .main__container {
    max-width: 1440px;
  }
  .main__picture {
    transform: translate(40rem, -14rem);
    -webkit-transform: translate(40rem, -14rem);
    -moz-transform: translate(40rem, -14rem);
    -ms-transform: translate(40rem, -14rem);
    -o-transform: translate(40rem, -14rem);
    height: 18rem;
    width: 100%;
  }
  .main__about {
    margin-top: -11rem;
  }

  .main__description {
    padding-right: 23rem;
    margin-left: 9rem;
    width: 94%;
  }
  .main__descargar {
    max-width: 54rem;
    margin-top: 0;
  }
  .main__tecnologias {
    padding-left: 4rem;
    margin-top: 2rem;
  }

  .footer__container {
    max-width: 1440px;
  }

}
@media screen and (min-width: 1440px) {
  .header {
    max-width: 1520px;
  }
  .main__container {
    max-width: 1520px;
  }
  .main__picture {
    transform: translate(42rem, -14rem);
    -webkit-transform: translate(42rem, -14rem);
    -moz-transform: translate(42rem, -14rem);
    -ms-transform: translate(42rem, -14rem);
    -o-transform: translate(42rem, -14rem);
  }
  .main__acerca {
    margin-left: 29rem;
  }
  .main__descargar {
    padding-left: 25rem;
  }
  .main__download {
    width: 46%;
  }
  .main__tecnologias {
    padding-left: 4rem;
    margin-top: 0;
  }
  .main__proyectos {
    margin-left: 29rem;
  }
  .main__contacto {
    padding-left: 29rem;
  }
  .main__redes {
    margin-left: 29rem;
  }
  .footer__container {
    max-width: 1520px;
  }
  .footer {
    margin-left: 29rem;
  }
}
@media screen and (min-width: 1520px) {
  .header {
    max-width: 1600px;
  }
  .main__container {
    max-width: 1600px;
  }
  .main__picture {
    transform: translate(45rem, -14rem);
    -webkit-transform: translate(45rem, -14rem);
    -moz-transform: translate(45rem, -14rem);
    -ms-transform: translate(45rem, -14rem);
    -o-transform: translate(45rem, -14rem);
  }
  .main__acerca {
    margin-left: 31rem;
  }
  .main__description {
    margin-left: 11rem;
  }
  .main__descargar {
    padding-left: 26rem;
  }
  .main__tecnologias {
    padding-left: 7rem;
  }
  .main__descripcion {
    padding-left: 5rem;
  }
  .main__logo__container {
    transform: translate(2rem, 1rem);
    -webkit-transform: translate(2rem, 1rem);
    -moz-transform: translate(2rem, 1rem);
    -ms-transform: translate(2rem, 1rem);
    -o-transform: translate(2rem, 1rem);
  }
  .main__logos {
    transform: translate(2rem, 13rem);
    -webkit-transform: translate(2rem, 13rem);
    -moz-transform: translate(2rem, 13rem);
    -ms-transform: translate(2rem, 13rem);
    -o-transform: translate(2rem, 13rem);
  }
  .main__proyectos {
    margin-left: 30rem;
  }
  .main__cards__container {
    max-width: 1600px;
    margin-left: 4rem;
  }
  .main__contacto {
    padding-left: 31rem;
  }
  .main__redes {
    margin-left: 31rem;
  }
  .footer__container {
    max-width: 1600px;
  }
  .footer {
    margin-left: 31rem;
  }
}
@media screen and (min-width: 1560px) {
  .main__picture {
    transform: translate(48rem, -14rem);
    -webkit-transform: translate(48rem, -14rem);
    -moz-transform: translate(48rem, -14rem);
    -ms-transform: translate(48rem, -14rem);
    -o-transform: translate(48rem, -14rem);
  }
  .main__acerca {
    margin-left: 32rem;
  }
  .main__description {
    margin-left: 13rem;
  }
  .main__descargar {
    padding-left: 27rem;
  }
  .main__tecnologias {
    padding-left: 9rem;
  }
  .main__descripcion {
    padding-left: 7rem;
  }
  .main__proyectos {
    margin-left: 31.5rem;
  }
  .main__contacto {
    padding-left: 32rem;
  }
  .main__redes {
    margin-left: 32rem;
  }
  .footer {
    margin-left: 32rem;
  }
}
@media screen and (min-width: 1600px) {
  .header {
    max-width: 1700px;
  }
  .main__container {
    max-width: 1700px;
  }
  .main__picture {
    transform: translate(50rem, -14rem);
    -webkit-transform: translate(50rem, -14rem);
    -moz-transform: translate(50rem, -14rem);
    -ms-transform: translate(50rem, -14rem);
    -o-transform: translate(50rem, -14rem);
  }
  .main__acerca {
    margin-left: 34rem;
  }
  .main__descargar {
    padding-left: 29rem;
  }
  .main__tecnologias {
    padding-left: 14rem;
  }
  .main__descripcion {
    padding-left: 13rem;
  }
  .main__logo__container {
    transform: translate(5rem, 1rem);
    -webkit-transform: translate(5rem, 1rem);
    -moz-transform: translate(5rem, 1rem);
    -ms-transform: translate(5rem, 1rem);
    -o-transform: translate(5rem, 1rem);
  }
  .main__logos {
    transform: translate(5rem, 13rem);
    -webkit-transform: translate(5rem, 13rem);
    -moz-transform: translate(5rem, 13rem);
    -ms-transform: translate(5rem, 13rem);
    -o-transform: translate(5rem, 13rem);
  }
  .main__proyectos {
    margin-left: 34rem;
  }
  .main__proyects {
    max-width: 1700px;
  }
  .main__cards__container {
    max-width: 1700px;
    margin-left: 2rem;
  }
  .main__contact {
    max-width: 1700px;
  }
  .main__contacto {
    padding-left: 34rem;
  }
  .main__redes {
    margin-left: 34rem;
  }
  .footer__container {
    max-width: 1700px;
  }
  .footer {
    margin-left: 34rem;
  }
}
@media screen and (min-width: 1667px) {
  .main__container {
    height: 106rem;
  }
  .main__proyects {
    height: 41rem;
  }
  .main__picture {
    transform: translate(61rem, -14rem);
    -webkit-transform: translate(61rem, -14rem);
    -moz-transform: translate(61rem, -14rem);
    -ms-transform: translate(61rem, -14rem);
    -o-transform: translate(61rem, -14rem);
  }
  .main__cards__container {
    max-width: 1700px;
    margin-left: -8rem;
    height: 36rem;
  }
  .main__card--spacex {
    transform: translate(50rem, -36rem);
    -webkit-transform: translate(50rem, -36rem);
    -moz-transform: translate(50rem, -36rem);
    -ms-transform: translate(50rem, -36rem);
    -o-transform: translate(50rem, -36rem);
  }
}
@media screen and (min-width: 1680px) {
  .main__cards__container {
    margin-left: 1.5rem;
  }
  .main__card--spacex {
    transform: translate(1rem, 0);
    -webkit-transform: translate(1rem, 0);
    -moz-transform: translate(1rem, 0);
    -ms-transform: translate(1rem, 0);
    -o-transform: translate(1rem, 0);
  }
}
@media screen and (min-width: 1700px) {
  .header {
    max-width: 1800px;
  }
  .main__container {
    max-width: 1800px;
  }
  .main__about {
    max-width: 1800px;
  }
  .main__acerca {
    margin-left: 38rem;
  }
  .main__description {
    margin-left: 15rem;
  }
  .main__descargar {
    padding-left: 33rem;
  }
  .main__download {
    width: 55%;
  }
  .main__tecnologias {
    padding-left: 21.5rem;
  }
  .main__descripcion {
    padding-left: 19rem;
  }
  .main__logo__container {
    transform: translate(9rem, 1rem);
    -webkit-transform: translate(9rem, 1rem);
    -moz-transform: translate(9rem, 1rem);
    -ms-transform: translate(9rem, 1rem);
    -o-transform: translate(9rem, 1rem);
  }
  .main__logos {
    transform: translate(9rem, 13rem);
    -webkit-transform: translate(9rem, 13rem);
    -moz-transform: translate(9rem, 13rem);
    -ms-transform: translate(9rem, 13rem);
    -o-transform: translate(9rem, 13rem);
  }
  .main__proyectos {
    margin-left: 37.5rem;
  }
  .main__contact {
    max-width: 1800px;
  }
  .main__contacto {
    padding-left: 37rem;
  }
  .main__redes {
    margin-left: 37rem;
  }
  .footer__container {
    max-width: 1800px;
  }
  .footer {
    margin-left: 37rem;
  }
}
@media screen and (min-width: 1760px) {
  .main__acerca {
    margin-left: 39rem;
  }
  .main__descargar {
    padding-left: 34rem;
  }
  .main__tecnologias {
    padding-left: 24rem;
  }
  .main__descripcion {
    padding-left: 21rem;
  }
  .main__proyectos {
    margin-left: 39rem;
  }
  .main__contacto {
    padding-left: 38rem;
  }
  .main__redes {
    margin-left: 38rem;
  }
  .footer {
    margin-left: 38rem;
  }
}
@media screen and (min-width: 1800px) {
  .header {
    max-width: 1900px;
  }
  .main__container {
    max-width: 1900px;
  }
  .main__picture {
    transform: translate(66rem, -14rem);
    -webkit-transform: translate(66rem, -14rem);
    -moz-transform: translate(66rem, -14rem);
    -ms-transform: translate(66rem, -14rem);
    -o-transform: translate(66rem, -14rem);
  }
  .main__about {
    max-width: 1900px;
  }
  .main__acerca {
    margin-left: 40rem;
  }
  .main__descargar {
    padding-left: 35rem;
  }
  .main__download {
    width: 70%;
  }
  .main__tecnologias {
    padding-left: 26rem;
  }
  .main__descripcion {
    padding-left: 24rem;
  }
  .main__logo__container {
    transform: translate(11rem, 1rem);
    -webkit-transform: translate(11rem, 1rem);
    -moz-transform: translate(11rem, 1rem);
    -ms-transform: translate(11rem, 1rem);
    -o-transform: translate(11rem, 1rem);
  }
  .main__logos {
    transform: translate(11rem, 13rem);
    -webkit-transform: translate(11rem, 13rem);
    -moz-transform: translate(11rem, 13rem);
    -ms-transform: translate(11rem, 13rem);
    -o-transform: translate(11rem, 13rem);
  }
  .main__proyectos {
    margin-left: 40rem;
  }
  .main__contact {
    max-width: 1900px;
  }
  .main__contacto {
    padding-left: 39rem;
  }
  .main__redes {
    margin-left: 39rem;
  }
  .footer__container {
    max-width: 1900px;
  }
  .footer {
    margin-left: 39rem;
  }
}
@media screen and (min-width: 1860px) {
  .main__acerca {
    margin-left: 43rem;
  }
  .main__description {
    margin-left: 18rem;
  }
  .main__descargar {
    padding-left: 38rem;
  }
  .main__tecnologias {
    padding-left: 32rem;
  }
  .main__descripcion {
    padding-left: 30rem;
  }
  .main__logo__container {
    transform: translate(14rem, 1rem);
    -webkit-transform: translate(14rem, 1rem);
    -moz-transform: translate(14rem, 1rem);
    -ms-transform: translate(14rem, 1rem);
    -o-transform: translate(14rem, 1rem);
  }
  .main__logos {
    transform: translate(14rem, 13rem);
    -webkit-transform: translate(14rem, 13rem);
    -moz-transform: translate(14rem, 13rem);
    -ms-transform: translate(14rem, 13rem);
    -o-transform: translate(14rem, 13rem);
  }
  .main__proyectos {
    margin-left: 43rem;
  }
  .main__contacto {
    padding-left: 42rem;
  }
  .main__redes {
    margin-left: 42rem;
  }
  .footer {
    margin-left: 42rem;
  }
}
@media screen and (min-width: 1900px) {
  .header {
    max-width: 2000px;
  }
  .main__container {
    max-width: 2000px;
  }
  .main__picture {
    transform: translate(68rem, -14rem);
    -webkit-transform: translate(68rem, -14rem);
    -moz-transform: translate(68rem, -14rem);
    -ms-transform: translate(68rem, -14rem);
    -o-transform: translate(68rem, -14rem);
  }
  .main__about {
    max-width: 2000px;
  }
  .main__acerca {
    margin-left: 44rem;
  }
  .main__descargar {
    padding-left: 39rem;
  }
  .main__tecnologias {
    padding-left: 34rem;
  }
  .main__proyectos {
    margin-left: 44rem;
  }
  .main__cards__container {
    margin-left: 4rem;
  }
  .main__contact {
    max-width: 2000px;
  }
  .main__contacto {
    padding-left: 43rem;
  }
  .footer__container {
    max-width: 2000px;
  }
  .main__redes {
    margin-left: 43rem;
  }
  .footer {
    margin-left: 43rem;
  }
}
@media screen and (min-width: 1960px) {
  .main__acerca {
    margin-left: 45rem;
  }
  .main__description {
    margin-left: 20rem;
  }
  .main__descripcion {
    padding-left: 32rem;
  }
  .main__descargar {
    padding-left: 40rem;
  }
  .main__download {
    width: 90%;
  }
  .main__tecnologias {
    padding-left: 36rem;
  }
  .main__logo__container {
    transform: translate(16rem, 1rem);
    -webkit-transform: translate(16rem, 1rem);
    -moz-transform: translate(16rem, 1rem);
    -ms-transform: translate(16rem, 1rem);
    -o-transform: translate(16rem, 1rem);
  }
  .main__logos {
    transform: translate(16rem, 13rem);
    -webkit-transform: translate(16rem, 13rem);
    -moz-transform: translate(16rem, 13rem);
    -ms-transform: translate(16rem, 13rem);
    -o-transform: translate(16rem, 13rem);
  }
  .main__proyectos {
    margin-left: 44.5rem;
  }
  .main__contacto {
    padding-left: 44rem;
  }
  .main__redes {
    margin-left: 44rem;
  }
  .footer {
    margin-left: 44rem;
  }
}
@media screen and (min-width: 2000px) {
  .header {
    max-width: 2060px;
  }
  .main__container {
    max-width: 2060px;
  }
  .main__picture {
    transform: translate(73rem, -14rem);
    -webkit-transform: translate(73rem, -14rem);
    -moz-transform: translate(73rem, -14rem);
    -ms-transform: translate(73rem, -14rem);
    -o-transform: translate(73rem, -14rem);
  }
  .main__about {
    max-width: 2060px;
  }
  .main__acerca {
    margin-left: 47rem;
  }
  .main__description {
    margin-left: 22rem;
  }
  .main__descargar {
    padding-left: 42rem;
  }
  .main__tecnologias {
    padding-left: 40rem;
  }
  .main__descripcion {
    padding-left: 38rem;
  }
  .main__logo__container {
    transform: translate(18rem, 1rem);
    -webkit-transform: translate(18rem, 1rem);
    -moz-transform: translate(18rem, 1rem);
    -ms-transform: translate(18rem, 1rem);
    -o-transform: translate(18rem, 1rem);
  }
  .main__logos {
    transform: translate(18rem, 13rem);
    -webkit-transform: translate(18rem, 13rem);
    -moz-transform: translate(18rem, 13rem);
    -ms-transform: translate(18rem, 13rem);
    -o-transform: translate(18rem, 13rem);
  }
  .main__proyectos {
    margin-left: 47rem;
  }
  .main__cards__container {
    margin-left: 7rem;
  }
  .main__contact {
    max-width: 2060px;
  }
  .main__contacto {
    padding-left: 46rem;
  }
  .footer__container {
    max-width: 2060px;
  }
  .main__redes {
    margin-left: 46rem;
  }
  .footer {
    margin-left: 46rem;
  }
}
@media screen and (min-width: 2060px) {
  .main__picture {
    transform: translate(76rem, -14rem);
    -webkit-transform: translate(76rem, -14rem);
    -moz-transform: translate(76rem, -14rem);
    -ms-transform: translate(76rem, -14rem);
    -o-transform: translate(76rem, -14rem);
  }
  .main__acerca {
    margin-left: 49rem;
  }
  .main__description {
    margin-left: 25rem;
  }
  .main__descargar {
    padding-left: 44rem;
  }
  .main__download {
    width: 110%;
  }
  .main__tecnologias {
    padding-left: 44rem;
  }
  .main__descripcion {
    padding-left: 42rem;
  }
  .main__logo__container {
    transform: translate(20rem, 1rem);
    -webkit-transform: translate(20rem, 1rem);
    -moz-transform: translate(20rem, 1rem);
    -ms-transform: translate(20rem, 1rem);
    -o-transform: translate(20rem, 1rem);
  }
  .main__logos {
    transform: translate(20rem, 13rem);
    -webkit-transform: translate(20rem, 13rem);
    -moz-transform: translate(20rem, 13rem);
    -ms-transform: translate(20rem, 13rem);
    -o-transform: translate(20rem, 13rem);
  }
  .main__proyectos {
    margin-left: 49rem;
  }
  .main__cards__container {
    margin-left: 9rem;
  }
  .main__contacto {
    padding-left: 49rem;
  }
  .main__redes {
    margin-left: 49rem;
  }
  .footer {
    margin-left: 49rem;
  }
}
